* {
    padding: 0;
    margin: 0;
}

.main-style {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 25px
}

img {
    width: 100%;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: center;
    color: white;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.div-left {
    background-color: aqua;
}

.div-right {
    background-color: bisque;
    padding-left: 15px;
}

.div-right ol {
    margin-left: 20px;
}

.header {
    background-color: cornflowerblue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}