.chat-container {
    background-color: cadetblue;
    max-height: 400px;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-container div {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
}
.chat-container div:hover {
    background-color: rgba(128, 255, 0, 0.288);
}

.chat-container div button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid white;
    border-radius: 25px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

.chat-container div button:hover {
    border: 2px solid orangered;
    border-radius: 25px;
    color: orangered;
}